.storeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.storeTitle {
  font-weight: bold;
}

.link {
  color: purple;
}

.hours {
  font-weight: lighter;
}
